* {
    margin: 0;
    padding: 0;
}

html , body {
    height: 100%;
}

body {
    background-image: url(../img/fundoa.jpg);
    background-size: cover;
    color: rgb(0, 0, 0);
}

h1 {
    font-weight: bold;
    font-family: 'Architects Daughter', cursive;
    font-size: 24px;
    font-weight: 5px;
    margin-bottom: 15px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 22px;
}

.seta {
    text-align: center;
    margin-bottom: 30px;
}

.perfil {
    text-align: center;
}

.avatar {
    width: 80px;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: 0 0 10px white;
    margin-top: 30px;
    margin-bottom: 10px;
}

.social {
    display: flex;
    list-style: none;
    justify-content: center;
    
}
.social img{
    width: 33px;
    margin-left: 5px;
    margin-right:5px;
    margin-top: 10px;
}

.link-list {
    list-style: none;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}


.link-list li a{
    display: block;
    background: rgba(230, 226, 226, 0.7);
    border: 2px solid black;
    border-radius: 9px;
    box-shadow: 0 0 10px white;
    text-decoration: none;
    font-weight: bold;
    margin: 10px 50px;
    padding: 15px 20px;
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    color: rgb(0, 0, 0);
}
.link-list li a span {
    display: block;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.footer {
    background: black;
    text-align: center;
    padding: 10px 0;
    color: white;
}
 